* {
   font-family: Arial, Helvetica, sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.to-do {
   width: 300px;
   border: 1px solid #888888;
   border-radius: 5px;
   padding: 10px 20px;
   margin: 0 auto;
   margin-top: 20vh;
}

.to-do-title {
   font-size: 20px;
   margin: 0;
   padding: 5px 0;
   text-align: center;
}

.add {
   display: flex;
   justify-content: space-between;
   width: 100%;
   margin: 0;
   padding: 0;
   cursor: pointer;
   margin-bottom: 15px;
}

#taskInput {
   width: 150px;
   border-radius: 5px;
   border: 1px solid #888888;
   padding: 0 5px;
}

.discDecorator {
   border-radius: 50%;
   width: 5px;
   height: 5px;
   background-color: #343434;
   margin-right: 10px;
}

.btn {
   padding: 5px 10px;
   border: none;
   border-radius: 5px;
   color: #fff;
}

.add-btn {
   background-color: #002fff;
}

.delBtn {
   position: absolute;
   right: 0;
   background-color: #eb1717de;
}

.done {
   text-decoration: line-through;
}

.tasks {
   width: 100%;
}

.task {
   position: relative;
   display: flex;
   align-items: center;
   margin: 0 0 15px 0;
   padding: 0;
}